/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

/* Hide the browser's default radio button */
.radio {
  cursor: pointer;
  display: flex;
  font-size: 22px;
  height: 28px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  user-select: none;

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: $dark-gray;
  }

  .checkmark-container {
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }

  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;


    /* When the radio button is checked, add a blue background */
    /* stylelint-disable-next-line */
    &:checked ~ .checkmark-container .checkmark {
      animation: activeRadio cubic-bezier(0.76, 0, 0.16, 1.01) 500ms;
      background-color: $primary;
    }

    /* Show the indicator (dot/circle) when checked */
    /* stylelint-disable-next-line */
    &:checked ~ .checkmark-container .checkmark::after {
      animation: activeRadioAfter cubic-bezier(0.76, 0, 0.16, 1.01) 500ms;
      display: block;
    }

    /* Add color for before */
    /* stylelint-disable-next-line */
    &:checked ~ .checkmark-container .checkmark::before {
      background-color: $primary;
      height: 0;
      transition: cubic-bezier(0.76, 0, 0.16, 1.01) 500ms;
      transition-delay: 0s, 100ms;
      transition-property: background, height;
    }
  }

  /* Create a custom radio button */
  .checkmark {
    background-color: $dark-gray;
    border-radius: 50%;
    height: 20px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    transition: cubic-bezier(0.76, 0, 0.16, 1.01) 500ms;
    width: 20px;

    /* Style the indicator (dot/circle) */

    &::after {
      background-color: $white;
      border-radius: 50%;
      height: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      width: 10px;
      z-index: 1;
    }

    &::before {
      background: $dark-gray;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transform: rotate(-42deg);
      width: 88%;
      z-index: 2;
    }
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark::after {
    content: '';
    display: none;
    position: absolute;
  }

  //
  // Global style with theme colors
  //

  @each $themeName, $value in $theme-colors {
    &.#{$themeName} {
      /* stylelint-disable-next-line */
      input:checked ~ .checkmark-container .checkmark {
        background-color: $value;
      }

      /* stylelint-disable-next-line */
      input:checked ~ .checkmark-container .checkmark::before {
        background-color: $value;
      }
    }
  }
}

@keyframes activeRadio {
  0% {
    height: 20px;
    width: 20px;
  }

  50% {
    height: 26px;
    width: 26px;
  }

  100% {
    height: 20px;
    width: 20px;
  }
}

@keyframes activeRadioAfter {
  0% {
    height: 10px;
    width: 10px;
  }

  50% {
    height: 16px;
    width: 16px;
  }

  100% {
    height: 10px;
    width: 10px;
  }
}
