/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

:root {
  --headerfont: sans-serif;
  --mainfont: serif;
  --headerfont: sans-serif;
  --maincolor: #333;
  --accentcolor: rgb(0, 128, 128);
  --accentcoloralpha: rgba(0, 128, 128, 0.5);
  --maxwidth: 800px;
  --lineheight: 1.3;
  --thumbsize: 40px;
  --tracksize: 300px;
  --trackheight: 28px;
  --trackradius: 6px;
  --innertrackradius: 4px;
}

$trackheight: 2px;
$circle-slider: 20px;

.rangewrapper {
  background-color: $light-gray;
  height: $trackheight;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.rangewrapper.vertical {
  margin: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.sliderfill {
  border: 0 none;
  border-radius: var(--innertrackradius);
  height: 100%;
  margin: 0;
  padding: 0;
}

.sliderthumb {
  background-color: $dark-gray;
  border-radius: 50%;
  height: $circle-slider;
  left: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $circle-slider;
}

.slidervalue {
  border: 0 none;
  color: $white;
  font-family: var(--mainfont);
  font-size: 1.1rem;
  font-weight: normal;
  height: var(--thumbsize);
  left: calc(50% - (var(--thumbsize)/2));
  line-height: var(--thumbsize);
  pointer-events: none;
  position: absolute;
  top: calc(((var(--thumbsize) - var(--trackheight))/-2) - 2px);
  width: var(--thumbsize);
}

.vertical .slidervalue {
  transform: rotate(90deg);
}

.customrange {
  cursor: pointer;
  height: 100%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  /* Special styling for WebKit/Blink */
  &::-webkit-slider-thumb {
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    background: #fff;
    cursor: pointer;
    height: 20px;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    width: 20px;
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    background: #fff;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
}

.progress-slider {
  background: $primary;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
}


// .range-slider {

// }
