<!--
 Copyright (c) 2019 The Nuinalp Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<template>
  <div class="welcome">
    <div class="form">
      <div class="form-container columns align-items-center text-left">
        <div
          v-show="signUpProgress == 0"
          class="column full p-4 px-6">
          <h2>{{this.$i18n.t('welcome_title')}}</h2>
          <span class="py-4 d-block"> {{this.$i18n.t('welcome_about')}} </span>
          <div class="divider"></div>
          <span class="py-2 d-block">{{this.$i18n.t('new_question')}} <a href="#" class="a" @click="openLink('https://gitlab.com/users/sign_in#register-pane')">{{this.$i18n.t('create_account')}}</a>.</span>
          <a class="d-inline-block py-2" href="#" @click="sign()">{{this.$i18n.t('sign_in_gitlab')}}</a>
        </div>

        <div
          v-show="signUpProgress == 1"
          class="column full p-4 px-6">
          <h2>{{this.$i18n.t('sign_in_title')}}</h2>
          <span class="py-2">{{this.$i18n.t('welcome_insert_infos')}}</span>

          <input class="d-block my-2" type="text" v-model="token" :placeholder="this.$i18n.t('access_token')">
          <small v-if="errorToken == true" class="d-block mt-1 text-danger">{{ this.$i18n.t('invalid_token_message') }}</small>

          <button :class="[getUser ? 'disabled loading' : '', token == '' ? 'disabled' : '']" class="button signin-btn d-inline-block my-3" @click="addUser">
            {{this.$i18n.t('sign_in_title')}}
            <div class="progress">
              <div class="progress-bar loading progressbar-primary" role="progressbar"></div>
            </div>
          </button>
        </div>

        <div v-if="signUpProgress == 2">
          <h2>{{this.$i18n.t('configure_git_title')}}</h2>
          <span class="py-2 mb-3 d-block">{{this.$i18n.t('configure_git_desc')}}</span>
          <span class="d-block my-2">Name</span>
          <input type="text" placeholder="Your name" v-model="gitlabUserName"/>
          <span class="d-block my-2">Email</span>
          <input type="text" placeholder="Your email" v-model="gitlabUserEmail"/>
          <div class="d-block my-3">
            <button class="button primary-outline" @click="backStep(0)">Cancel</button>
            <button class="button ml-2">Next</button>
          </div>

          <div class="example-commit">
            <small class="example-commit-header">{{this.$i18n.t('example_commit')}}</small>
            <div class="example-commit-container">
              <small class="example-commit-title">{{this.$i18n.t('example_commit_title')}}</small>
              <div><img class="example-commit-avatar" :src="user.avatar_url + '?private_token=' + user.token"><small class="example-commit-username">{{ gitlabUserName }} </small><small class="example-commit-time">{{this.$i18n.t('example_commit_time')}}</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { shell }          from 'electron';
import { Getter, Action } from 'vuex-class';

// tslint:disable-next-line
const Gitlab = require('gitlab').default;

@Component
export default class Home extends Vue {
  // Getters
  @Getter('idUser') private currentUser!: number;
  @Getter('user') private user!: any;
  @Getter('signUpProgress') private signUpProgress!: number;

  // Actions
  @Action('users/ADD_USER') private ADD_USER: any;
  @Action('UPDATE_SIGNUP_PROGRESS') private NEXT_WINDOW: any;

  // Data property
  private token!: string;
  private email!: string;
  private nameUser!: string;
  private errorEmail!: boolean;
  private errorNameUser!: boolean;
  private errorToken!: boolean;
  private gitlabUserName!: string;
  private gitlabUserEmail!: string;
  private currentWindow!: string;
  private getUser!: boolean;
  private step!: number;

  constructor() {
    super();
    this.currentWindow = 'welcome';
    this.token = '';
    this.errorToken = false;
    this.getUser = false;
  }

  // Lifecycle hook
  private mounted() {
    this.gitlabUserName = this.user.name;
    this.gitlabUserEmail = this.user.email;
  }

  private sign() {
    this.NEXT_WINDOW();
  }

  private openLink(url: string) {
    shell.openExternal(url);
  }

  private addUser() {
    if (this.getUser) {
      return false;
    }
    // tslint:disable-next-line
    const emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    this.errorToken = false;

    if (this.token === '') {
      this.errorToken = true;
      return;
    }
    this.getGitlabConn();
  }

  private getGitlabConn() {
    this.getUser = true;
    const gitlab = new Gitlab({
      token: this.token, // Can be created in your profile.
    });

    gitlab.Users.current()
      .then((data: any) => {
        console.log(data);
        this.ADD_USER({
          login: data.username,
          name: data.name,
          avatar_url: data.avatar_url,
          email: data.email,
          id: data.id,
          token: this.token,
        });
        this.gitlabUserName = data.name;
        this.gitlabUserEmail = data.email;
        this.getUser = false;
      });
  }

  private backStep(step: number) {
    this.step = step;
    this.gitlabUserName = '';
    this.gitlabUserEmail = '';
  }

}
</script>

<style lang="scss">
@import '../assets/nuiverse/utils/_variables';

.welcome {
  &::before {
    background-image: url('../assets/gitlab-icon-pattern-header.svg');
    background-size: cover;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::after {
    background-color: #548;
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 0;
  }

  .form {
    background-color: rgba(255, 255, 255, 0.75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 2;
  }

  .form-container {
    height: 100%;
    padding: 0 10%;
  }

  .divider {
    background-color: #e6e6e6;
    border-radius: 20px;
    display: block;
    height: 4px;
    margin: 10px 0;
    width: 20%;
  }

  .example-commit {
    background-color: #fff;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    margin-top: 30px;
    overflow: hidden;

    .example-commit-header {
      background-color: #efefef;
      color: rgb(32, 32, 32);
      display: block;
      padding: 6px 10px;
    }

    .example-commit-container {
      padding: 6px 10px;
    }

    .example-commit-title {
      display: block;
      font-weight: bold;
    }

    .example-commit-username,
    .example-commit-time {
      color: rgb(85, 85, 85);
      font-family: 'FiraGO Light';
    }

    .example-commit-avatar {
      border-radius: 50%;
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle;
      width: 25px;
    }
  }
}

.signin-btn {
  .progress {
    display: none;
  }
}

.disabled {
  background-color: rgba($primary, 0.3);
  border-color: rgba($primary, 0.3);

  &.loading .progress {
    bottom: 4px;
    display: block;
    height: 2px;
    left: 0;
    margin: 0 9px;
    position: absolute;
    width: calc(100% - 20px);
  }
}
</style>

